.formWrapper{
    width: 75%;
    height: 250px;
    // background-color: blue;
    margin: 0 auto;
    display: flex;

    .login{
        width: 50%;
        // background-color: yellow;

        h1{
            width: 100px;
            margin: 0 auto;
        }

        form{
            
        }
    }

    .createAccount{
        width: 50%;

        h1{
            width: 250px;
            margin: 0 auto;
        }

    }
    .createAccountWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        

        form{
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 960px){
    .formWrapper{
        flex-direction: column;
        margin: 0 auto;

        .createAccount{
            margin-top: 50px;
        }
    }
}